.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: lightgray;
  width: 330px;
  height: 100%;
  text-align: left;
  padding-left: 5px;
}

.sidebar div {
  margin-top: 20px;
}

.sidebar h1 {
  display: inline-block;
  margin-top: 0;
  padding-left: 15px;
}

.sidebar h4 {
  padding-left: 15px;
  cursor: pointer;
}

.btn-open-modal {
  display: inline-block;
  margin-left: 20px;
  vertical-align: text-bottom;
 }

 .btn-open-modal.focus,
   .btn-open-modal:focus,
   .btn-open-modal.active.focus,
   .btn-open-modal.active:focus,
   .btn-open-modal.active:hover,
   .btn-open-modal:active.focus,
   .btn-open-modal:active:focus,
   .btn-open-modal:active:hover {
     /* the first three set the button to default .btn-success styles */
     color: #fff;
     background-color: #5cb85c;
     border-color: #4cae4c;
     /* override user agent styles*/
     box-shadow: none;
     outline: none;
   }


.content-area {
  font-family: Helvetica;
  padding-top: 10px;
  position: absolute;
  display: inline-block;
  background-color: white;
  left: 330px;
  height: 100%;
  width: 950px;
}

.header {
  text-align: left;
  padding-left: 20px;
}

.messages {
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 20px;
  border-color: gray;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  vertical-align: middle;
}

.username {
  text-align: left;
  font-weight: bold;
  padding-left: 25px;
}

.user-message {
  text-align: left;
  padding-left: 25px;
}

.timestamp {
  font-style: italic;
  color: gray;
  float: right;
}

.input-field input {
  position: fixed;
  width: 85%;
  bottom: 0px;
  height: 40px;
  padding-left: 15px;
}

.input-field button {
  position: fixed;
  width: 15%;
  bottom: 0px;
  left: 85%;
  border-radius: 0px;
  height: 40px;
}
