<div class="sidebar">

<div>
  <h1>Bloc Chat</h1>
    <button class="btn btn-default btn-success btn-open-modal"  type="button" ng-click="chatroom.addRoom()">New Room</button>
</div>

  <div ng-repeat="room in chatroom.rooms">
    <h4 ng-click="chatroom.selectRoom(room)">{{ room.$value }}</h4>
  </div>

</div>

<div class="content-area">
  <h3>{{ chatroom.currentRoom.$value }}</h3>
  <div class="chat-section">
    <div class="messages" ng-repeat="message in chatroom.messages">
        <span class="username">{{ message.username }}</span>
        <span class="timestamp">{{ message.sentAt }}</span>
        <div class="user-message">{{ message.content }}</div>
    </div>
  </div>
<div>
